// Gruvbox-Dark

* {
  bg:         #282828;
  fg:         #ebdbb2;
  se:         #3c3836;
  red:        #cc241d;
  green:      #98971a;
  yellow:     #d79921;
  blue:       #458588;
  magenta:    #b16286;
  cyan:       #689d6a;
}
