@import "~/.config/rofi/colors.rasi"

* {
  background-color:       @bg;
  text-color:             @fg;
  font:				 						"FiraCode Nerd Font Medium 11";
}

window {
  width:      						360px;
  padding:    						25px;
  border:									2px;
  border-radius:          6px;
  border-color:           @blue;
  location:               center;
  y-offset:               -2em;
}

entry {
  expand: 								true;
  text-color:							@fg;
}
