bspwm
sxhkd
picom-ibhagwan fork
rofi
dunst
polybar
cpupower
pulseaudio
pamixer
feh
brightnessctl
playerctl
cava

-----

flameshot (Optional)
alacritty (Optional)
better-discord (Optional)
spicetify (Optional)
bottom (Optional)
cmus (Optional)
neofetch (Optional)
ranger (Optional)
zathura (Optional)
